##############################################
#          Frame Mounted Endstops            #
##############################################
# If you mount your X endstop to the frame, instead of the gantry, close to your Y endstop
# this will home the Y axis before homing your X axis

[homing_override]
set_position_z:0  ## allows Z to move because [safe_z_home] is commented out
axes: yxz
gcode:
  {% set home_all = 'X' not in params and 'Y' not in params and 'Z' not in params %}

  {% if home_all or 'Y' in params %}   
    G1 Z10 F1200   ## raise Z for clearance
    G28 Y   
  {% endif %}
  
  {% if home_all or 'X' in params %}
    G1 Z10 F1200   ## raise Z for clearance
    {% if not printer.toolhead.position.y == 0 %} ## check if Y is at 0 to insure the toolhead hits the x endstop
        G28 Y   
    {% endif %}    
    G28 X    
  {% endif %}

  {% if home_all or 'Z' in params %}
      {% if not 'xy' in printer.toolhead.homed_axes %}   ## checks it X and Y are homed
         G1 Z10 F1200   ## raise Z for clearance
         G28 Y 
         G28 X
      {% endif %} 
    G1 Z10 F1200   ## raise Z for clearance
    G90
    G1 X200 Y185 F12000 

    G28 Z   ## Home Z
    G1 Z10 F1200
  {% endif %}
